<!DOCTYPE html>
<html>
<head>
    <title>Metrica 2</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/metrica2.css') }}">
</head>
<body>
    <header>
        <h1>Metrica 2</h1>
    </header>
    <main>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Departamento</th>
                        <th>Contratados</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>